{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
  <h1>{{ post.title }}</h1>
  <ul>
    <li>Место: {{ post.location.name|default:"Планета Земля" }}</li>
    <li>Дата: {{ post.pub_date }}</li>
    <li>Категория: <a href="{% url 'blog:category_posts' post.category.slug %}">{{ post.category.title }}</a></li>
    <li>Автор: {{ post.author.get_full_name|default:post.author.username }}</li>
  </ul>
  <p>{{ post.text|linebreaksbr }}</p>
</article>
<a href="{% url 'blog:index' %}">← Назад к ленте</a>
{% endblock %}
